main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#div-construcoes {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: red;
    border-top: solid;

}

.item-construcao {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    margin: 10px 20px;
}

.preco {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

#img-cursor {
    width: 5rem;
    border-style: solid;
    ;
}

#img-vovo {
    width: 5rem;
    border-style: solid;
    ;
}

#img-cookie {
    width: 20rem
}

.cursor-liberado {
    border: 5px solid chartreuse;
    border-radius: 10px;
}

.vovo-liberada {
    border: 5px solid gold;
    border-radius: 10px;
}